* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

td {
  width: 24vw;
  height: 45px;
  background-color: tomato;
  text-align: center;
  border-spacing: 10px;
  border-radius: 5px;
  
}

#submitbutton{
 width: 65px;
 padding: 4px;
 border: 1px solid black;
}

#bottom-row td {
  font-weight: bold;
  color: white;
}
.generatetd {
color: white;
}

input {
  width: 90%;
  height: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#warning {
  margin: 10px auto;
  text-align: center;
  color: red;
}

 